{% extends "layout.html.twig" %}
{% block contenu %}
        <form method="post" action="{{path('panier.validFormDeletePanier')}}">
            <main role="main" class="container">
        <fieldset>
            <legend>Supprimer un produit</legend>
            <input type="hidden" id="_method" name="_method" value="DELETE" />
            <input name="id"  type="hidden" value="{{ panier.id }}"/>

            <div class="form-group">
            <p>etes vous sur de vouloir supprimer l'object qui a pour nom : {{ panier.nom }}?</p>
            </div>
            <div class="form-group">
                <div class="col-md-6 mb-3">
                    <input type="hidden"   name="_csrf_token"   value="{{ csrf_token('token') }}">

                    <button class="btn btn-danger " type="submit">Supprimer</button>
                </div>
            </div>


        </fieldset>
            </main><!-- /.container -->
</form>

{% endblock %}