{% extends "layout.html.twig" %}
{% block contenu %}

    <main role="main" class="container">

        <div class="starter-template">
            <h1> vous ne disposez des droits pour vous rendre sur la page demandé </h1>

        </div>

    </main><!-- /.container -->
{% endblock %}