{% extends "layout.html.twig" %}



{% block contenu %}
	<main role="main" class="container">

		<div class="starter-template">
			<h1> Projet 2 web : site de vente Espace client </h1>
		<small>les produits + liens</small>
         <small>le panier +liens</small>
		</div>

	</main><!-- /.container -->

{% endblock %}







