<s></s>
    <div class="col-md-6 mb-2"></div>
    <table class="table table-striped">
        <thead class="thead-inverse">
        <tr><th>Id</th><th>Photo</th><th>Nom</th><th>quantite</th>
            <th>prix</th><th>DateAjout</th><th>opération</th>
        </tr>
        </thead>
        <tbody>
        {##}% for panier in data if data is not empty %}
            <tr>
                <td>
                    <img style="width:40px;height:40px" src="{{asset('images/')}}{{panier.photo}}">
                </td>
                <td>{{panier.id }}</td>
                <td>{{panier.nom}}</td>
                <td>{{panier.quantite}}</td>
                <td>{{panier.prix}}</td>
                <td>{{ panier.dateAjoutPanier}}</td>
                <td>
                    <a href="#">Changer quantité</a>
                    <a href="{{ path("panier.deleteProduit", {id: panier.id}) }}">Suppression</a>
                </td>
            </tr>
        {##}% endfor %}
        </tbody>
    </table>
{##}% endblock %}
